
body {
  margin: 20px 40px;
}

a {
  text-decoration: none;
}

.jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.job {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: 'row';
          flex-direction: 'row';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
    margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;

}


.job:hover {
  cursor: pointer;
  color: #666666;
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.detail-logo{ 
  height: 50px;
  float: right;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

.header2 {
  padding: 50px;
  margin-left: 7rem;

}


@media screen and (max-width: 600px) {
  .header2 {
  padding: 10px;
    margin-left: 0;
    width: 100%;
}
.job {
  width: 100%;
}
}